@page {
  margin: 0;
}

.alliances {
  margin: 0 18px;
  font-size: 8px;

  & table {
    margin: 0 auto;
  }

  & thead {
    font-weight: bold;
  }

  & h1,
  & h2 {
    margin: 5px 0 0 0;
    text-align: center;
  }
}

.alliance {
  flex-grow: 1;
}
