@page
  margin: 0

.alliances
  font-size: 8px
  margin: 0 18px

  & table
    margin: 0 auto

  & thead
    font-weight: bold

  & h1, & h2
    margin: 5px 0 0 0
    text-align: center

.alliance
  flex-grow: 1