.home
  width: 100%
  height: 100%
  display: flex
  flex-direction: column
  background: #800080
  color: white

  & li, & li a
    display: flex
    align-items: center
    justify-content: space-between
    height: 50px
    width: 100%