.chart
  max-width: 100%
  width: 640px
  display: block
  margin-bottom: 1em

  & line, & text
    stroke: #999
  
  & text
    stroke: #555
    fill: #555

  & polyline
    fill: none
    stroke: #AAA
    stroke-dasharray: 10, 10
    stroke-linecap: round
    stroke-linejoin: round

  & circle
    stroke: purple
    fill: purple

.tooltip
  fill: #999