.chart
  max-width: 100%
  width: 640px
  display: block
  margin-bottom: 1em

  & line, & text
    stroke: #999
  
  & text
    stroke: #555
    fill: #555

  & circle:hover
    cursor: pointer

  & polyline
    fill: none
    stroke-linecap: round
    stroke-linejoin: round

.tooltip
  fill: #999