.button
  border-radius: 3px
  background: #800080
  padding: 10px 12px
  color: white
  text-decoration: none
  cursor: pointer
  box-shadow: 1px 1px 4px gray(0, 71%)
  transition: all 0.3s ease
  appearance: none
  border: 0
  flex-shrink: 0

  &:hover
    box-shadow: 1px 1px 6px gray(0, 75%)

  &:active
    background: color(#800080 whiteness(+10%))
