.adminPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  height: 100%;

  @media screen and (width < 800px) {
    & .admin {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &::before {
        content: 'Admin';
      }
    }

    & tr {
      display: grid;
      align-items: stretch;
      margin-bottom: 40px;
      grid-template-columns: 1fr auto;
    }

    & table td {
      display: flex;
      flex-direction: column;
      padding: 0.4em 0;
      grid-column: 1 / -1;
    }

    & table {
      width: 20em;
    }

    & td.save {
      margin-right: 0.5em;
      grid-column: 1 / 2;
    }

    & td.del {
      align-self: stretch;
      grid-column: 2 / -1;

      & button {
        height: 100%;
      }
    }

    & tr:nth-child(1) {
      display: none;
    }
  }

  & table {
    margin: 1em auto 0 auto;
    border-collapse: collapse;
  }

  & td {
    padding: 0.4em 1em;
  }

  & button {
    display: flex;
    justify-content: center;
    align-items: center;

    & svg {
      width: 1em;
      height: 1em;
    }
  }
}

.del button {
  width: 2em;
  height: 2em;
  padding: 0;
  background: #ff4e4e;
}

@keyframes flash {
  0% {
    background: #43a04780;
  }

  50% {
    background: #43a04780;
  }

  100% {
    background: transparent;
  }
}

.success {
  animation: flash 1.2s;
}

.failed {
  background: red;
}

.adminInner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-bottom: 2em;
  overflow-y: auto;
}
