.input
  appearance: textfield
  border: 0
  padding-bottom: 4px
  border-bottom: 2px solid gray(50%)
  transition: border-bottom-color 0.2s ease
  display: block
  margin: 4px
  border-radius: 0
  font-size: 1.2rem
  background: transparent

  &:focus
    border-bottom-color: purple
    outline: none

  &:invalid
    border-bottom-color: red
    box-shadow: none

