.input {
  display: block;
  margin: 4px;
  padding-bottom: 4px;
  font-size: 1rem;
  background: transparent;
  border: 0;
  border-bottom: 2px solid gray(50%);
  border-radius: 0;
  transition: border-bottom-color 0.2s ease;
  appearance: textfield;

  &:focus {
    border-bottom-color: purple;
    outline: none;
  }

  &:invalid {
    border-bottom-color: red;
    box-shadow: none;
  }
}
