.leaderboard {
  height: 100%;
  overflow: auto;
}

.leaderboard table {
  margin: 1em auto;
  font-size: 1.3em;
  table-layout: fixed;

  border-collapse: collapse;

  & th,
  & td {
    padding: 0.2em 0.5em;
  }
}

.emoji {
  font-size: 1.4em;
}
