@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes change-color {
  0% {
    border-top-color: red;
    border-right-color: red;
  }

  16.6% {
    border-top-color: orange;
    border-right-color: orange;
  }

  33.3% {
    border-top-color: yellow;
    border-right-color: yellow;
  }

  50% {
    border-top-color: green;
    border-right-color: green;
  }

  66.6% {
    border-top-color: blue;
    border-right-color: blue;
  }

  83.3% {
    border-top-color: purple;
    border-right-color: purple;
  }

  100% {
    border-top-color: red;
    border-right-color: red;
  }
}

.spinner {
  position: relative;
  display: block;
  align-self: center;
  width: 1em;
  height: 1em;
  margin: 25px;
  font-size: responsive 28px 40px;
  animation: wobble 2s infinite linear alternate;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    box-sizing: border-box;
    width: 1em;
    height: 1em;
    border: 0.13em solid transparent;
    border-radius: 1000px;
    animation: spin 0.8s cubic-bezier(0.6, 0.19, 0.5, 0.82) infinite,
      change-color 3.6s linear infinite;
    content: '';
  }
}
