.event {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  & > div {
    margin: 1em 0;

    & a {
      margin: 0 0.5em;
    }
  }

  & ul {
    flex-grow: 1;
    flex-basis: 0;
  }

  & li {
    display: flex;
  }
}

.match {
  width: 100%;

  & div {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
  }
}
