html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #800080;
  font-family: roboto, 'Helvetica Neue', arial, sans-serif;
  font-weight: 400;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *::before, *::after {
  box-sizing: border-box;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}
