.teamAnalysis > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0em 0.5em;
  padding-bottom: 4em;
  overflow: auto;

  & > div {
    width: 640px;
    max-width: 100%;
  }
}
