.table
  width: 100%
  text-align: center
  flex-grow: 1
  overflow-x: auto
  height: 100%

  & td
    padding: 15px

.statColumn
  font-size: 12px
  width: 150px
  min-width: 150px
  font-weight: bold
  text-align: left