.scout
  display: flex
  flex-direction: column
  align-items: center

  & button
    margin-bottom: 1em

.scoutMain
  overflow: auto
  width: 100%
  display: flex
  flex-direction: column
  align-items: center

.fields
  max-width: 400px
  width: 100%

  & > label
    display: flex
    padding: 12px 20px
    flex-direction: row
    justify-content: space-between
    align-items: center

    & :last-child
      margin-right: 0

.notes
  max-width: 360px
  width: 100%
  margin: 12px 20px