.err {
  width: 100%;
  padding: 0.7em;
  color: white;
  font-size: 0.8em;
  text-align: center;
  background: red;
}

.wrapper,
.wrapper > *:not(.err) {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
}
