.login
  height: 100%

  & > div
    height: 100%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

    & form
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
  
.err
  color: red

.buttons > *
  margin: 0 0.25em

.register
  background: gray(25%, 0.5)
  box-shadow: none